h1,h2,h3,h4,h5,h6,p{
font-family: Sans-Serif;
}
.menubar{
text-aligin: center;
padding: 12px;
border-radius: 6px;
background-color:black;
color:white;
width:100%;
height: 2em;
}
.blur{
filter: blur(2px);
}
